node_modules
dist
.env
src/data/Gen 3 Pokeblock and Contest Lookup - Efficient Blocks.tsv
src/data/icon_index.html
.gitignore
src/data/Gen 3 Pokeblock and Contest Lookup - Example Block Kits.tsv
src/data/Gen 4 Poffin list.tsv
